* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(contact_background.jpeg);
    background-position: center;
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.contact .content p {
    font-weight: 300;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactinfo .box .text h3 {
    font-weight: 700;
    color: royalblue;
    margin-bottom: 5px;
}

.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
    border: 5px solid royalblue;
}

.contactform h2 {
    font-size: 30px;
    color: #030303;
    font-weight: 500;
}

.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contactform .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputBox input:focus~span,
.contactform .inputBox input:valid~span,
.contactform .inputBox input:focus~span,
.contactform .inputBox input:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

button {
    height: 30px;
    width: 70px;
    background-color: royalblue;
    border: none;
    cursor: pointer;
    font-size: 18px;
}